<client>
  <endpoint address="net.tcp://10.20.1.201:8085/RemoteTasks/" binding="netTcpBinding" bindingConfiguration="NetTcpRemotetasks" contract="RemoteTasksServiceReference.IRemoteTasks" name="NetTcpRemotetasks">
    <identity>
      <dns value="10.20.1.201" /> 
    </identity>
  </endpoint>
  <endpoint address="net.tcp://10.20.1.82:8090/VASService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVASService" contract="ServiceReferenceVAS.IVASService" name="NetTcpBinding_IVASService">
    <identity>
      <dns value="10.20.1.82" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://10.20.1.82:8090/VPMService/" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IVPMService" contract="ServiceReferenceVPM.IVPMService" name="NetTcpBinding_IVPMService">
    <identity>
      <dns value="10.20.1.82" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://10.20.1.82:8091/BGCService/" binding="netTcpBinding" bindingConfiguration="NetTcpBGC" contract="ServiceReferenceBGC.IBGCService" name="NetTcpBGC">
    <identity>
      <dns value="10.20.1.82" />
    </identity>
  </endpoint>
  <endpoint address="net.tcp://10.20.1.82:8104/AccessControl/" binding="netTcpBinding" bindingConfiguration="AccessControlNetTcp" contract="ServiceReferenceACS.IServiceAccessControl" name="AccessControlNetTcp">
    <identity>
      <dns value="10.20.1.82"/>
    </identity>
  </endpoint>
  <endpoint address="net.tcp://10.20.1.82:8104/IIMSService/" binding="netTcpBinding"
        bindingConfiguration="NetTcpIIMSService" contract="ServiceReferenceIIMS.IServiceIIMS"
        name="NetTcpIIMSService">
    <identity>
      <dns value="10.20.1.82" />
    </identity>
  </endpoint>
</client>